footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--nav-colour);
  margin-top: 2rem;
  font-size: 1em;
  color: $grey-300;
  padding: 0.8em;
  background-color: $white-100;
}

@media (max-width: 576px) {
  footer {
    padding: 50px 0px;
  }
}

footer a {
  color: $grey-300;
}

footer a:hover {
  color: white;
}

footer i {
  font-size: 2em;
  padding-left: 10px;
}
